$colors: (
maincol: #ffffff,
boxcol: #21232e,
txtcol: #2c2f3c,
lgcol: #c0c3ce,
linecol: #14a0c7,
btncolor: #699900,
gradiencol: #2e5cd6
);


  $sspfont: 'Source Sans Pro', sans-serif;
  $hindfont: 'Hind', sans-serif;
  $frescafont: 'Fresca', sans-serif;


$banner : url(file:///Users/katya_oc/Desktop/FL11_HW3/homework/img/m-h-day.jpg);

$gradst: #699900;
$gradlst: #2e5cd6;