$colors: (
maincol: #21232e,
boxcol: #3b3f50,
txtcol: #ffffff,
lgcol: #d1d1d1,
linecol: #ff4e33,
btncolor: #e3ac00,
gradiencol: #932c52
);


  $sspfont: 'Source Sans Pro', sans-serif;
  $hindfont: 'Hind', sans-serif;
  $frescafont: 'Fresca', sans-serif;


$banner : url(file:///Users/katya_oc/Desktop/FL11_HW3/homework/img/m-h-night.jpg);

$gradst: #e3ac00;
$gradlst: #932c52;